.item{
	width: 100%;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border: solid white 10px;
	border-bottom: none;
	border-radius: 5px;
	margin-bottom: 20px;
	img{
		width: 100%;
		object-fit: cover;
		border-radius: 5px;
	}
	.description{
		padding: 10px 20px;
		p{
			font-size: 14px;
			line-height: 1.5;
			&:nth-child(1){
				font-weight: bold;
				color: #6a6a6a;
			}
			&:nth-child(2){
				color: #c0a062;
			}
		}
	}
}